body{
    font-family: 'Playball', cursive;
}
.nav-bar{
    background-color: #F0A202;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-column{
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.left-column > .phone-and-hours-wrapper{
    display: grid;
    grid-template-columns: 1fr;
}
.icon i {
    margin-right: 12px;
    color: white;
    font-size: 2em;
}
.phone-and-hours-wrapper{
    color: white;
}
.address-wrapper a{
color: white;
text-decoration: none;
transition: 0.3s;
}
.address-wrapper a:hover {
    color: cadetblue;    
}
.nav-logo img {
    width: 125px;
}
.nav-bar > .center-column{
    display: grid;
    grid-template-columns: 1fr;
}
.nav-bar > .center-column > .nav-logo{
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 400px;
}
.links-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.nav-link a{
    color: rgb(255, 255, 255);
    text-decoration:none;
    transition: 0.3s;
}
.nav-link{
    width: 50px;
    text-align: center;
}

.nav-link a:hover{
    color: cadetblue;
    letter-spacing: 2px;
}

.nav-bar > .right-column {
    display: flex;
    align-items: center;
    padding-right: 100px;
}

.adress-icon{
    color: white;
    font-size: 2em;
    margin-left: 12px;
}
.featured-section {
    background-image: url("./Images/cake.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
    height: 325px;
}
.features-section {
    height: 400px;
    background-image: url(./Images/gold.jpg);
    background-color: #F0A202;
    border-top: 10px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px -26px 79px -8px rgb(0 0 0 / 58%)
}
.features-section > .columns-wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
.features-section > .columns-wrapper > .column {
    padding: 20px;
    margin: 42px;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
}
.features-section > .columns-wrapper > .column :nth-child(1) {
    font-size: 3em;
}
.features-section > .columns-wrapper > .column :nth-child(2) {
    font-size: 1.5em;
    font-weight: 900;
    height: 50px;
    transition: 1s;
}
.features-section > .columns-wrapper > .column :nth-child(3) {
    letter-spacing: 2px;
}
